    eza-ingredients{width:100%;}
    .key-ingredients{border-top:none;}
    .key-ingredients-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
    }

   .desktop-layout-vertical.key-ingredients-grid {
     padding-top:20px;
    }
 
    .menu-drawer__list-item--divider{border-block-end: 1px solid #343434;}
    .menu-drawer__list-item--divider {border-color: #343434;}
    .menu-drawer__menu .menu-drawer__list-item--flat{}

 .desktop-layout-columns .key-ingredient-item{
  border-bottom: 1px solid var(--off-black);
  padding: 16px 0 4px;}
 .desktop-layout-columns .key-ingredient-item summary{padding:0 0 12px 0;}

   .desktop-layout-columns.key-ingredients-grid {
              border-top:3px solid var(--black);
    grid-row-gap:0;}
.desktop-layout-columns .key-ingredient-item details[open] {padding-bottom:12px;}

@media (min-width: 768px) {

  .key-ingredient-item--accordion .details__header { pointer-events: none; }
  .key-ingredient-item--accordion .icon-caret,
  .key-ingredient-item--accordion .icon-plus { display: none; }

      .desktop-layout-horizontal.key-ingredients-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

        .desktop-layout-columns.key-ingredients-grid {
          border-bottom:1px solid var(--black);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 24px;
        grid-row-gap:12px;
        margin:0 auto;
        max-width:100%;
        width:678px;
}
.desktop-layout-columns .key-ingredient-item{padding-bottom:0;}
  .desktop-layout-columns .key-ingredient-item details[open] {padding-bottom:24px;}    
      
.desktop-layout-columns .key-ingredient-item:nth-last-child(-n+2):nth-child(odd),
.desktop-layout-columns .key-ingredient-item:nth-last-child(-n+2):nth-child(odd) ~ .key-ingredient-item {
  border-bottom: none;
}

    }

    .key-ingredient-item-top {
        align-items:center;
      display: flex;
      flex-direction: row;
      gap: 13px;
    }

    .key-ingredient-number {
        align-items: center;
         border-radius: 4px;
        color:  #FFF;
        display: flex;
        font-size: 16px;
      font-weight: 700;
        justify-content: center;
         line-height: 1;
        padding: 8px; }
    .key-ingredient-number--black{background-color:#202020;}
    .key-ingredient-number--yellow{
        background-color:#FFF200;
        color:#000;}

    .key-ingredient-name {
     color: #000;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1;
    margin-top: 0;
    }

  .key-ingredient-text {
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 19px;
max-width:50ch;
    }
