

.pdp-quality-blocks{}
.quality-blocks-pretitle{}
.quality-blocks-title{}

.all-quality-blocks{}

.quality-block{
    background-color:var(--white);
    padding:24px;
}

.quality-icon{}
.quality-title,
.quality-text{
    color: var(--off-black);
    font-size: 16px;}

.quality-title{
font-weight: 700;
line-height: 1.1;
margin-bottom:8px;}

.quality-text{
color: var(--off-black);
font-weight: 400;
line-height: 21px;}