

.pdp-quality-blocks{}

.quality-blocks-pretitle{
    color: var(--Color-Grayscale-600, #7C7C7C);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;}

.quality-blocks-title{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;}

.all-quality-blocks{}

.quality-block{
    background-color:var(--white);
    margin-bottom:1px;
    padding:24px;}

.quality-block::first-child {border-radius:16px 16px 0 0;}
.quality-block::last-child {border-radius:0 0 16px 16px;}

.quality-icon{}
.quality-title,
.quality-text{
    color: var(--off-black);
    font-size: 16px;}

.quality-title{
font-weight: 700;
line-height: 1.1;
padding:8px 0;}

.quality-text{
color: var(--off-black);
font-weight: 400;
line-height: 21px;}

@media (min-width:768px){
    .quality-block{}
}