
/* PDP Play by Play */

.pdp-timeline{
    background-color:var(--off-black);
    padding:48px 0 63px;}
.timeline-all-steps{background-color:var(--off-black);}

.timeline-title{
    color: var(--yellow);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;}

.timeline-list{border-top:3px solid var(--white);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0;}

/* Make wrappers invisible to grid */
.timeline-list > .shopify-block,
.timeline-list .timeline-step {display: contents;}

/* Both cells get the same vertical rhythm and divider */
.timeline-pill,
.timeline-text {
    align-items: center;
    border-bottom:1px solid var(--white);
    color: var(--white);
    display: flex;
    padding: 16px 0;}

.timeline-pill {padding-right: 0.9rem;}

.timeline-pill span {
    background: var(--black);
    border-radius: 32px;
    color: var(--yellow);
    display: inline-block;
    font-weight: 700;
    padding: 8px 16px;
    white-space: nowrap;}

@media (min-width: 768px) {
.pdp-timeline{
    background-color: rgba(255, 242, 0, 0.50);
    padding-bottom:0;
    padding-top:28px;}
.timeline-all-steps{
    background-color:var(--off-black);
    border-radius:16px 16px 0 0;
    padding:56px 0;}
.timeline-list{
    margin:0 auto;
    max-width:100%;
    width:572px;}
.timeline-title{
    font-size:36px;
    margin-bottom:32px;}
timeline-pill {padding-right: 2.5rem;}

    
}


