
/* PDP Staggered Gallery */
.pdp-gallery{
    padding:56px 0;
}

.all-images-title{
color:var(--black);
font-family: "Helvetica Neue";
font-size: 24px;
font-weight: 700;
line-height: 1.1;
    margin-bottom:24px;
    text-align: center;
}


.gallery-image{
    aspect-ratio:327/256;
    background-size:cover;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    justify-content: end;
    gap:6px;
    margin-bottom:4px;
    padding:24px;
    position:relative;
}
.gallery-image-title,
.gallery-image-text{
    color: var(--white);
font-family: "Helvetica Neue";
font-size: 16px;
line-height: 1.1;
}
.gallery-image-title{font-weight: 700;}
.gallery-image-text{font-weight: 400;}

.gallery-image .gradient{
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;}

@media (min-width: 768px) {
.pdp-gallery{padding:48px 0 56px;}

.all-images-title{
 font-size: 36px;
  margin-bottom:35px;}

.gallery-image{
    aspect-ratio:1;
    border-radius:16px;
    margin-bottom:0;
    padding:28px 24px;}

.pdp-gallery .all-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;}

.all-images .shopify-block:nth-child(1)   { grid-area: 1 / 1/ 2 / 2; }
.all-images .shopify-block:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.all-images .shopify-block:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
.all-images .shopify-block:nth-child(4){ grid-area: 2 / 3 / 3 / 4; }
}