.pdp-trust-blocks{
    background:var(--white);
    padding:32px 0;
}

   .all-trust-blocks{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;}

.trust-block{
    background-color:var(--light-grey);
    margin-bottom:1px;
    padding:24px;}

.trust-block:first-child {border-radius:16px 16px 0 0;}
.trust-block:last-child {border-radius:0 0 16px 16px;}

.trust-block img{
    margin:0 auto;
    width:24px;}
.trust-title,
.trust-text{
    color: var(--off-black);
    font-size: 12px;
    text-align:center;}

.trust-title{
font-weight: 700;
line-height: 1.1;
padding:8px 0 0;}

.trust-text{
font-weight: 400;
line-height: 21px;}

@media (min-width:768px){

    .all-trust-blocks{
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1;}
    .trust-block:first-child{border-radius:16px 0 0 16px;}
     .trust-block:last-child{border-radius:0 16px 16px 0;}
   
      .trust-title,
.trust-text{font-size: 16px;}
 
.all-trust-blocks{
    margin:0 auto;
    max-width:100%;
    width:1136px;} 

}